<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h4>Hello, {{ user.username|default:'Anonymous Guest' }}!</h4>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'password_change' %}">Change Password</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const current_username = '{{user.username}}';
        var sender;

        {% for chat in chat_messages %}

        if( '{{ chat.sender }}' == current_username ){
            sender = 'you';
        } else {
            sender = '{{ chat.sender }}';
        }
        document.querySelector('#chat-log').value += (sender + ': ' + '{{ chat.message }}' + '\n');

        {% endfor %}

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const current_username = '{{user.username}}';
            var sender;
            if(data.sender == current_username){
                sender = 'you';
            } else {
                sender = data.sender;
            }
            document.querySelector('#chat-log').value += (sender + ': ' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const sender = '{{user.username|default:'anonymous'}}';
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>